* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

.box {
  width: calc(100vw - 2rem);
  height: calc(100vh - 2rem);
  background: radial-gradient(
    circle,
    rgba(255, 38, 210, 1) 0%,
    rgba(102, 28, 206, 1) 65%,
    rgb(26, 47, 241) 100%
  );
}

.path {
  clip-path: path(
    "M 0,20 C 20,0, 50,0, 100,30 L 200,50 C 220,80, 250,100, 300,120 L 350,150 C 370,180, 400,200, 450,220 L 600,300 C 650,350, 680,400, 700,500 L 800,450 C 850,475, 900,500, 1000,600 L 1400,450 C 1450,400, 1500,350, 1600,300 L 1602,100 C 1602,150, 1550,200, 1500,250 L 1600,1100 C 1550,1200, 1500,1300, 1400,1350 L 1000,1500 C 900,1400, 850,1300, 500,1400 L 400,1200 C 350,1150, 250,1000, 200,1000 L 0,1000 C 0,950, 0,930, 0,920 L 0,20Z"
  );
}
